.map-display {
    display: flex;
}

.data-display {
    display: flex;
    text-align: left;
    font-size: large;
    background-color: "red";
    width: 30%;
    align-items: center;
    justify-content: left;
    font-size: larger;
    padding-left: 2%;
    margin-top: 5%;
}

.data-display div {
    margin-top: 5px;
}

.slider {
    width: 25%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.map-title {
    font-weight: bold;
    font-size: xx-large;
    margin: 0.5rem;
    text-align: center;
}

.map-subtitle {
    font-weight: bold;
    font-size: larger;
}

#map-container {
    z-index: 1;
    height: calc(100vh);
    padding-bottom: -20%;

    position: relative;
}

.map-base {
    width: 50%;
    padding-bottom: -20%;
    position: relative;
}
