.example {
    .list {
        list-style: none;
        padding: 0.5rem;
    }
}

#map-container {
    z-index: 1;
    height: calc(100vh - 96px);
    position: relative;
}

.map-base {
    width: 100%;
    height: 40em !important;
}