.navbar {
    padding:0 15px!important;

    .link-home {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .lab-link {
        max-width: 10rem;
    }

    .lab-image {
        height: auto;
        max-width: 75vw;
        width: 10rem;
    }
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    display: inline-block;
}
.navbar li a {
    color: black;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
}
.navbar ul ul li {
    display: block;
    background-color: white;
}
    
.navbar li:hover ul {
    display: block;
}
.navbar ul ul li a:hover {
    background-color: #555;
    }
    
        
