$color-black: #000000;
$color-white: #ffffff;
$color-turquoise: #20ccd7;
$color-red: #fb2f2a;
$color-mid-gray: #5e5f5f;
$color-link: #3295b8;
$color-turquoise-light: #ebf3f4;
$color-gray-light: #e6e6e6;
$color-blue-light: #61d5ed;

.link {
    font-weight: 500;
    text-decoration: underline;
    color: $color-link;
    display: inline;
}
